/* src/components/Splash.css */

.splash-container {
  position: relative;
  overflow: hidden;
  /* background-color: #ffd800; */
  background-image: url("../../../public/images/splash-bg.jpg");
  filter: saturate(1.2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 1.5rem;
}

.bandage {
  position: absolute;
  pointer-events: none; /* clicks pass through */
  z-index: 1;
  /* responsive sizing: 10% of viewport width, but never more than 120px */
  width: 10vw;
  max-width: 120px;
  height: auto;
  opacity: 0.9;
}

/* individual placements */
.bandage-3 {
  top: 85%;
  scale: 3.5;
  left: 73%;
  transform: rotate(46deg);
}

.bandage-2 {
  top: 19%;
  scale: 3.5;
  right: 2%;
  transform: rotate(65deg);
}

.bandage-4 {
  bottom: 32%;
  scale: 3.5;
  left: 6%;
  transform: rotate(-5deg);
}

.logo-wrapper {
  max-width: 50rem;
  min-width: 50rem;
  /* width: 100%; */
  /* max-width: 500px; */
  max-height: 150px;
  margin-bottom: 1rem;

  /* center the image vertically if there's extra space */
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 0.5rem;
}

.logo {
  /* width: 100%; */
  height: 37.5rem;
  width: 68rem;
  display: block;
  filter: invert(1);
}

.tagline {
  min-width: 500px;
  max-width: 800px;
  margin: 2.8rem auto;
  font-size: 1.8rem;
}

.info {
  line-height: 1.4;
  font-size: larger;
}

.cta {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-weight: bolder;
  /* width: 100%; */
  min-width: 400px;
  max-width: 600px;
}
