@tailwind base;
@tailwind components;
@tailwind utilities;

/* .buttons-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.google-sign {
  height: 2rem;
  width: 14rem;
  background-color: #27d192;
  outline: none;
  border: none;
} */
